.sidenav {
    background: #230303;
    height: 100vh;
    position: fixed;

    &.collapsed {

        .pro-sidebar-header {
            .toggler {
                text-align: center;
            }

        }
    }

    .pro-sidebar-header {
        .toggler {
            text-align: right;

            .toggleicon {
                font-size: 2em;
                cursor: pointer;
                margin: 0.2em 0.5em;
            }
        }

    }
}