header {
    margin: 1em 0;

    .beta {
        font-family: "Shadows Into Light";
        font-weight: bold;
        color: #ce2121;
        font-size: 2em;
        cursor: default;
        user-select: none;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            img {
                height: 5em;
            }
        }
    }
}