.register-container {
    text-align: center;

    .register-form {
        padding: 1em;
        margin: 1em 0;

        .error {
            color: #bb5050;
        }

        .terms {
            display: inline-block;
        }
    }
}