body {
    background: #191919;
    color: #FFFFFF;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1560px;
    }
}

a {
    color: darken(#00cc83, 10%);

    &:hover {
        color: darken(#00cc83, 12%);
    }
}

button {
    padding: 1em 2em;
    text-transform: uppercase;
    background: darken(#00cc83, 10%);
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px black;
    border: none;

    &:hover {
        background: darken(#00cc83, 12%);

    }
}